@import url('main.css');


body {
    background-color: var(--bg-black);
}

/*Config General*/
.margenGeneral {
    margin: 0 75px;
}

/**/

/*nav*/
.fixed-topM {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.transparent-navbar {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar .container {
    border-radius: 4px;
    background-color: #343333a7;
}

.dropdown-item {
    width: auto;
}


.container {
    height: 80px;
}

.textColor-white {
    border-radius: 4px;
    color: #fff;
    margin: 14px;
    background-color: #ffffff64;
}

.textColor-white:hover {
    color: #fff;
    margin: 14px;
    background-color: #f0126a;
}

.btn-menu {
    width: 155px;
    background-color: #ffffff64;
    color: #fff;
}

.btn-menu:hover {
    width: 155px;
    background-color: #f0126a;
    color: #fff;
}

.white-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-size: 45px 45px; 
    background-repeat: no-repeat; 
    width: 45px;
    height: 45px; 
}

/**/

/* start Home*/

/*parte 1*/

.home {
    height: 100vh;
}

.textHome {
    margin-top: 10%;
    color: var(--text-White);
}

.btn-home {
    background-color: #f0126a;
    width: 155px;
    color: #fff;
}

.btn-home:hover {
    background-color: #f0126a;
    width: 155px;
    color: #fff;
}

.video-container {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 65px;
}

.video-container iframe {
    width: 450px;
    height: 250px;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

.video-container.zoom1 iframe {
    width: 800px;
    height: 450px;
    transform: scale(1.2);
}

/*parte 2*/

.textppart2Home {
    width: 80%;
    color: var(--text-White);
}

.cardHome {
    display: flex;
    justify-content: center;
}

.cardContHome {
    height: 160px;
}

.card {
    border-radius: 20px;
}

.card-body {
    margin-top: 20%;
}

.margenpart2Home {
    margin-top: 65px;
    margin-bottom: 35px;
}

.cardContHome:nth-child(1) {
    background-color: #fdfce9;
    transition-delay: 300ms;
}

.cardContHome:nth-child(2) {
    background-color: #fcfac5;
    transition-delay: 600ms;
}

.cardContHome:nth-child(3) {
    background-color: #f8ef70;
    transition-delay: 900ms;
}

.cardContHome:nth-child(4) {
    background-color: #f1d31e;
    transition-delay: 1300ms;
}

.cardContHome:nth-child(2),
.cardContHome:nth-child(3),
.cardContHome:nth-child(4) {
    margin-left: 15px;
}


.hidden1 {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden1 {
        transition: none;
    }
}


#containerScrollInfiteHome {
    display: grid;
    /*min-block-size: 100vh;*/
    font-family: system-ui;
    font-size: 1.125rem;
}


#containerScrollInfiteHome {
    margin-top: 50px;
}

.scrollerHome {
    overflow: hidden;
    max-width: auto;
}

.scrollerHome__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: max-content;
}

.scrollerHome[data-animated="true"] {
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scrollerHome[data-animated="true"] .scrollerHome__inner {
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scrollerHome[data-direction="right"] {
    --_animation-direction: reverse;
}

.scrollerHome[data-direction="left"] {
    --_animation-direction: forwards;
}

.scrollerHome[data-speed="fast"] {
    --_animation-duration: 10s;
}

.scrollerHome[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/*Home Carrucel*/
/*Parte 3*/
.carrucelHome {
    height: 100vh;
}


.fondoPart3Home{
    height: 80vh;
    border-radius: 15px;
    background-color: var(--secondary-color);
}

.margeTopCarrucel {
    margin-top: 75px;
    margin-bottom: 65px;
}

swiper-container {
    margin-top: 25px;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 600px;
  }

/**/

/*TestimonyHome*/
.testimonioHome {
    height: 60vh;
}

.titleTextTesti {
    color: var(--text-White);
}

.testimony {
    margin-top: 100px;
}

.textTestHomeH2 {
    text-align: center;
    width: 25%;
    margin: 0 auto;
}

.cardPageTestiHome-stack {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardPageTestiHome {
    margin: 10px auto;
    position: absolute;
    background-color: #6d4416;
    height: 360px;
    width: 580px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.cardPageTestiHome .dark {
    background-color: black;
    border-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.cardPageTestiHome-content {
    color: #55555500;
}

.card.dark .card-content {
    color: var(--text-White);
}

.designation {
    color: var(--text-White);
    font-weight: normal;
    margin: 0 25px;
}

.name {
    color: var(--text-White);
}

.testimonial-info {
    margin-top: 20px;
}

.testimonial-avatar {
    display: flex;
    margin-top: 15px;
    margin-left: 25px;
}

.testimonial-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}




/* end home*/



/*Resposive*/

@media(max-width:992px) {
    .navbar-collapse {
        margin-top: 60px;
        background-color: #101010;
    }

    swiper-container {
        margin-top: 25px;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }
    
      swiper-slide {
        background-position: center;
        background-size: cover;
        width: 500px;
        height: 500px;
      }
}

@media (max-width: 700px) {
    .cardHome {
        flex-direction: column;
        align-items: center;
    }

    .cardContHome:nth-child(2),
    .cardContHome:nth-child(3),
    .cardContHome:nth-child(4) {
        margin-left: 0;
        margin-top: 20px;
    }

}


@media (max-width: 478px) {
    swiper-container {
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
      }
    
      swiper-slide {
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 200px;
      }
    .margenGeneral {
        margin: 0 5px;
    }

    .textppart2Home {
        width: 100%;
    }

    /*home card*/
    .cardHome {
        flex-direction: column;
        align-items: normal;
    }

    .cardContHome {
        width: auto !important;
    }

    .testimony {
        height: 100vh;
    }

    .textTestHomeH2 {
        width: 50%;
    }

    .cardPageTestiHome {
        height: auto;
        width: auto;
    }

    .video-container iframe {
        width: auto !important;
        height: 250px;
        transition: width 0.5s, height 0.5s, transform 0.5s;
    }

    .video-container {
        margin-top: 25px;
    }

}